@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: context-menu;
    
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgba(172, 172, 172, 0.5);
}
::-webkit-scrollbar-track:hover {
    background: rgba(255, 195, 213, 0.5);
}
::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 0, 67);

}
html{
    scroll-behavior: smooth;
}
a, a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    transition: all 0.5s ease-in-out;
}
.navbar.active{
    background-color: rgba(247, 247, 247, 0.93);
    height: 60px;
}
.navbar-toggler-icon{
    background-image: url(img/toggle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}
.navbar.active .navbar-toggler .navbar-toggler-icon{
    background-image: url(img/naviconl.png);
    transform: scale(1.5,1.3);
}
.nav-link{
    font-size: 24px;
    color: white;
    transition: ease-in-out;
    transition-duration: 0.5s;
    font-weight: bolder;
}
.navbar.active .nav-link{
    color: rgb(92, 92, 92)!important;
}
.navbar.active .nav-link:hover{
    color: rgb(0, 0, 0)!important;
}
.nav-link:hover{
    color: rgb(190, 190, 190)!important;
}
.cont1{
    background-color: black;
    height: 100vh;
    width: 100%;
    border: none;
}
.cont1 .img{
    background-image: url(img/soroush-golpoor-kXw6ngvtf_k-unsplash.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;

}
.cont1 .img .content{
    position: absolute;
    bottom: 25%;
    left: 8%;
    color: white;
    font-size: 40px;
    line-height: 40px;
}
.cont1 .img .content .subcont{
    color: rgb(223, 0, 67);
    font-size: 28px;
}
.cont2{
    padding-left: 5vw;
    padding-right: 5vw;
}
.cont2 .row1{
    padding: 5vh 0;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    color: rgb(73, 73, 73);
}
.cont2 .row2{
    margin-bottom: 15vh;
    margin-top: 5vh;
}
.cont2 .row2 .imgcont{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.cont2 .row2 .imgcont .borderbox{
    position: absolute;
    height: 100%;
    width: 75%;
    border-bottom: 10px solid rgb(223, 0, 67);
    border-left: 10px solid rgb(223, 0, 67);
    border-top: 10px solid rgb(73, 73, 73);
    border-right: 10px solid rgb(73, 73, 73);
     
}
.cont2 .row2 .imgcont .imgbox{
    position: absolute;
    height: 95%;
    width: 75%;
    background: url(img/harley-davidson-QD6GvrDFPAA-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(8%,10%);
}
.cont2 .row2 .content{
    padding-right: 100px;
    padding-top: 3%;
}
.cont2 .row2 .content .heading{
    font-size: 38px;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.cont2 .row2 .content .text{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}
.cont2 .row2 .content .knowmore{
    color: rgb(223, 0, 67);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}
.cont2 .row3{
    margin-bottom: 15vh;
}
.cont2 .row3 .imgcont{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.cont2 .row3 .imgcont .borderbox{
    position: absolute;
    height: 100%;
    width: 75%;
    border-top: 10px solid rgb(73, 73, 73);
    border-right: 10px solid rgb(223, 0, 67);
    border-bottom: 10px solid rgb(223, 0, 67);
    border-left: 10px solid rgb(73, 73, 73);
     
}
.cont2 .row3 .imgcont .imgbox{
    position: absolute;
    height: 95%;
    width: 75%;
    background: url(img/roman-spiridonov-FemeYrbdMWE-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-8%,10%);
}
.cont2 .row3 .content{
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 3%;
}
.cont2 .row3 .content .heading{
    font-size: 38px;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.cont2 .row3 .content .text{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}
.cont2 .row3 .content .knowmore{
    color: rgb(223, 0, 67);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}

.cont2 .row4{
    margin-bottom: 15vh;
}
.cont2 .row4 .imgcont{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.cont2 .row4 .imgcont .borderbox{
    position: absolute;
    height: 100%;
    width: 75%;
    border-bottom: 10px solid rgb(223, 0, 67);
    border-left: 10px solid rgb(223, 0, 67);
    border-top: 10px solid rgb(73, 73, 73);
    border-right: 10px solid rgb(73, 73, 73);
     
}
.cont2 .row4 .imgcont .imgbox{
    position: absolute;
    height: 95%;
    width: 75%;
    background: url(img/harley-davidson-QD6GvrDFPAA-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(8%,10%);
}
.cont2 .row4 .content{
    padding-right: 100px;
    padding-top: 3%;
}
.cont2 .row4 .content .heading{
    font-size: 38px;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.cont2 .row4 .content .text{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}
.cont2 .row4 .content .knowmore{
    color: rgb(223, 0, 67);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}
.cont2 .row5{
    margin-bottom: 15vh;
}
.cont2 .row5 .imgcont{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.cont2 .row5 .imgcont .borderbox{
    position: absolute;
    height: 100%;
    width: 75%;
    border-top: 10px solid rgb(73, 73, 73);
    border-right: 10px solid rgb(223, 0, 67);
    border-bottom: 10px solid rgb(223, 0, 67);
    border-left: 10px solid rgb(73, 73, 73);
     
}
.cont2 .row5 .imgcont .imgbox{
    position: absolute;
    height: 95%;
    width: 75%;
    background: url(img/roman-spiridonov-FemeYrbdMWE-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-8%,10%);
}
.cont2 .row5 .content{
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 3%;
}
.cont2 .row5 .content .heading{
    font-size: 38px;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.cont2 .row5 .content .text{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}
.cont2 .row5 .content .knowmore{
    color: rgb(223, 0, 67);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}
.cont2 .row6{
    margin-bottom: 5vh;
}
.cont2 .row6 .imgcont{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.cont2 .row6 .imgcont .borderbox{
    position: absolute;
    height: 100%;
    width: 75%;
    border-bottom: 10px solid rgb(223, 0, 67);
    border-left: 10px solid rgb(223, 0, 67);
    border-top: 10px solid rgb(73, 73, 73);
    border-right: 10px solid rgb(73, 73, 73);
     
}
.cont2 .row6 .imgcont .imgbox{
    position: absolute;
    height: 95%;
    width: 75%;
    background: url(img/harley-davidson-QD6GvrDFPAA-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(8%,10%);
}
.cont2 .row6 .content{
    padding-right: 100px;
    padding-top: 3%;
}
.cont2 .row6 .content .heading{
    font-size: 38px;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.cont2 .row6 .content .text{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}
.cont2 .row6 .content .knowmore{
    color: rgb(223, 0, 67);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}
.cont2 .row7{
    margin-bottom: 10vh;
}
.item-card{
    width: 100%;
    height: 40em;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item-card .img{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-card .img1{
    background-image: url(img/darranque-revoluciona-49ptTnzy6q4-unsplash.png);
}
.item-card .img2{
    background-image: url(img/mohnish-landge-KeIe-uJ7SJw-unsplash.png);
}
.item-card .img3{
    background-image: url(img/niver-vega-lV2nKbAzu4A-unsplash.png);
}
.item-card .desc{
    width: 90%;
    color: rgb(223, 0, 67);
    text-align: center;
    font-size: 36px;
    margin-bottom: 5px;
}
.item-card .price{
    width: 90%;
    font-size: 24px;
    color: rgb(124, 124, 124);
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.item-card .buy_now{
    margin-top: 5px;
    padding: 15px 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
}
.item-card .buy_now:hover{
    background-color: rgb(243, 243, 243);
    color: black;
    cursor: pointer;
    border: 2px solid black;
}
.cont3{
    background-color: rgb(223, 0, 67);
    color: white;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 1px;
}
.cont3 .row1{
    padding: 10vh 0;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
}
.cont3 .row2{
    margin-bottom: 10vh;
}
.cont3 .row2 .img{
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont3 .row2 .img1{
    background-image: url(img/hean-prinsloo-7sX28_CrA5k-unsplash.png);
}
.cont3 .row2 .img2{
    background-image: url(img/garry-zhuang-wc4LpxSna3U-unsplash.png);
}
.cont3 .row2 .img3{
    background-image: url(img/roberto-nickson-eXV74Ia7Log-unsplash.png);
}
.cont3 .row2 .content{
    padding-top: 10%;
    margin-left: 2vw;
}
.cont3 .row2 .content .round{
    margin-bottom: 20px;
}
.cont3 .row2 .content .round .roundbtn{
    background-color: rgb(163, 163, 163);
    padding: 14px 18px;
    font-size: 28px;
    border-radius: 50%;
}
.cont3 .row2 .content .heading{
    font-size: 60px;
    color: rgb(163, 163, 163);
    margin-bottom: 15px;
}
.cont3 .row2 .content .text{
    font-size: 22px;
    padding-right: 80px;
    text-align: justify;
}
.cont3 .row2 .content .knowmore{
    color: rgb(124, 124, 124);
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
}
.cont3 .row3{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    padding-bottom: 5vh;
}
.cont4 .row{
    height: 38vh;
    width: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont4 .row1{
    background-image: url(img/neonbrand-tKvp2XBx4NE-unsplash.png);
}
.cont4 .row2{
    background-image: url(img/nick-mercer-v0smCPnCisc-unsplash.png);   
}
.cont4 .row3{
    background-image: url(img/arteum-ro-yUTqhofN8Vk-unsplash.png);   
}
.cont4 .row4{
    background-image: url(img/kenny-luo-iiut6fDkInc-unsplash.png);   
}
.cont4 .row5{
    background-image: url(img/garett-mizunaka-xFjti9rYILo-unsplash.png);   
}
.cont5{
    padding-bottom: 5vh;
}
.cont5 .row1{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.cont5 .row2{
    padding-left: 5vw;
    padding-right: 5vw;
}
.carousel1 .row .content{
    font-size: 32px;
    color: rgb(124, 124, 124);
}
.carousel1 .row .img{
    height: 100%;
    background-image: url(img/Group\ 23.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.prevarrow{
    position: absolute;
    top: 30%;
    left: -6%;
    font-size: 34px;
    color: rgb(190, 190, 190);
    transition: all 0.5s ease-in-out;
    padding: 10px 20px;
    border-radius: 50%;
}
.nextarrow{
    position: absolute;
    top: 30%;
    right: -6%;
    font-size: 34px;
    color: rgb(190, 190, 190);
    transition: all 0.5s ease-in-out;
    padding: 10px 20px;
    border-radius: 50%;
}
.prevarrow:hover, .nextarrow:hover{
    color: white;
    background-color: rgb(190, 190, 190);
}
.cont6 .row1{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.cont6 .row2{
    background-image: url(img/jason-wong-bYoRZI30nEI-unsplash.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.cont6 .row3{
    padding: 5vh 5vw;
    font-size: 28px;
    color: rgb(128, 128, 128);
    text-align: justify;
}
.cont7 .row1{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    padding-top: 8vh;
}
.cont7 .row{
    padding-right: 5vw;
    padding-left: 5vw;
    margin-bottom: 10vh;
}
.cont7 .row .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}
.cont7 .row .img1{
    background-image: url(img/kirill-petropavlov-u1VLA-qMNDc-unsplash.png);
}
.cont7 .row .img2{
    background-image: url(img/harley-davidson-HG3Zy9sCCUg-unsplash.png);
}
.cont7 .row .img3{
    background-image: url(img/prateek-gautam-7O-R2WYUbJI-unsplash.png);
}
.cont7 .row .content{
    text-align: justify;
    font-size: 28px;
    color: rgb(128, 128, 128);
}
.cont8{
    padding: 20px 15vw;
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cont8 .section1{
    line-height: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont8 .section2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.socialcontainer{
    padding: 5vh 0;
    border: none;
}
.social-icons a {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: white;
    color: red;
    border-radius: 50%;
    transition: 0.5s;
    font-size: 40px;
    margin-right: 20px;
    border: none;
}
.social-icons a .fab, .social-icons a .far{
    line-height: 60px;
    cursor: pointer;
    border: none;
}
.social-icons a:hover {
    transform: scale(1.1);
    border: none;
}
@media only screen and (max-width: 765px) {
    
    .navbar{
        height: 90px;
    }
    .navbar.active{
        height: 80px;
    }
    .nav-link{
        font-size: 18px;
        color: rgb(73, 73, 73);
    }
    .navbar .navbar-collapse{
        background-color: rgba(247, 247, 247, 0.8);
        text-align: center;
    }
    .navbar.active .navbar-collapse{
        background-color: rgba(247, 247, 247, 0.9);
        text-align: center;
    }
    .cont1{
        background-color: black;
        height: 100vh;
        width: 100%;
    }
    .cont1 .img .content{
        bottom: 20%;
        left: 10%;
        font-size: 28px;
        line-height: 28px;
    }
    .cont1 .img .content .subcont{
        color: rgb(223, 0, 67);
        font-size: 20px;
    }
    .cont2 .row2{
        margin-bottom: 10vh;
    }
    .cont2 .row2 .imgcont .borderbox{
        height: 100%;
        width: 80%;
    }
    .cont2 .row2 .imgcont .imgbox{
        height: 95%;
        width: 80%;
    }
    .cont2 .row2 .content{
        padding-right: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .cont2 .row2 .content .heading{
        font-size: 24px;
    }
    .cont2 .row2 .content .text{
        font-size: 16px;
    }
    .cont2 .row2 .content .knowmore{
        font-size: 18px;
    }
    .cont2 .row3{
        margin-bottom: 10vh;
    }
    .cont2 .row3 .imgcont .borderbox{
        height: 100%;
        width: 80%;
    }
    .cont2 .row3 .imgcont .imgbox{
        height: 95%;
        width: 80%;
    }
    .cont2 .row3 .content{
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .cont2 .row3 .content .heading{
        font-size: 24px;
    }
    .cont2 .row3 .content .text{
        font-size: 16px;
    }
    .cont2 .row3 .content .knowmore{
        font-size: 18px;
    }
    .cont2 .row4{
        margin-bottom: 10vh;
    }
    .cont2 .row4 .imgcont .borderbox{
        height: 100%;
        width: 80%;
    }
    .cont2 .row4 .imgcont .imgbox{
        height: 95%;
        width: 80%;
    }
    .cont2 .row4 .content{
        padding-right: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .cont2 .row4 .content .heading{
        font-size: 24px;
    }
    .cont2 .row4 .content .text{
        font-size: 16px;
    }
    .cont2 .row4 .content .knowmore{
        font-size: 18px;
    }
    .cont2 .row5{
        margin-bottom: 10vh;
    }
    .cont2 .row5 .imgcont .borderbox{
        height: 100%;
        width: 80%;
    }
    .cont2 .row5 .imgcont .imgbox{
        height: 95%;
        width: 80%;
    }
    .cont2 .row5 .content{
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .cont2 .row5 .content .heading{
        font-size: 24px;
    }
    .cont2 .row5 .content .text{
        font-size: 16px;
    }
    .cont2 .row5 .content .knowmore{
        font-size: 18px;
    }
    .cont2 .row6{
        margin-bottom: 5vh;
    }
    .cont2 .row6 .imgcont .borderbox{
        height: 100%;
        width: 80%;
    }
    .cont2 .row6 .imgcont .imgbox{
        height: 95%;
        width: 80%;
    }
    .cont2 .row6 .content{
        padding-right: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .cont2 .row6 .content .heading{
        font-size: 24px;
    }
    .cont2 .row6 .content .text{
        font-size: 16px;
    }
    .cont2 .row6 .content .knowmore{
        font-size: 18px;
    }        
    .cont2 .r1{
        padding: 0;
    }  
    .item-card .desc{
        font-size: 28px;
    }
    .item-card .price{
        font-size: 18px;
    }
    .item-card .buy_now{
        margin-top: 5px;
        padding: 10px 20px;
    }  
    .cont3{
        background-color: rgb(223, 0, 67);
        color: white;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-bottom: 1px;
    }
    .cont3 .row1{
        font-size: 48px;
    }
    .cont3 .row2{
        margin-bottom: 10vh;
    }
    .cont3 .row2 .img{
        height: 50vh;
    }
    .cont3 .row2 .content{
        padding-top: 10%;
        margin-right: 0;
    }
    .cont3 .row2 .content .round{
        margin-bottom: 20px;
    }
    .cont3 .row2 .content .round .roundbtn{
        padding: 10px 14px;
        font-size: 24px;
    }
    .cont3 .row2 .content .heading{
        font-size: 28px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .cont3 .row2 .content .text{
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cont3 .row2 .content .knowmore{
        font-size: 28px;
    }
    .cont3 .row3{
        font-size: 48px;
    } 
    .cont4 .row{
        height: 28vh;
        width: 104%;
        font-size: 32px;
    }
    .cont5{
        padding-bottom: 0;
    }
    .cont5 .row1{
        font-size: 48px;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    .cont5 .row2{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .carousel1 .row .content{
        font-size: 16px;
    }
    .carousel1 .row .img{
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .prevarrow{
        position: absolute;
        top: 50%;
        left: -10%;
        font-size: 24px;
        padding: 5px 10px;
    }
    .nextarrow{
        position: absolute;
        top: 50%;
        right: -10%;
        font-size: 24px;
        padding: 5px 10px;
    }
    .cont6 .row1{
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    .cont6 .row2{
        height: 40vh;
    }
    .cont6 .row3{
        font-size: 16px;
    }
    .cont7 .row1{
        font-size: 48px;
        padding-top: 0;
    }
    .cont7 .row{
        padding-right: 5vw;
        padding-left: 5vw;
        margin-bottom: 0vh;
    }
    .cont7 .row .img{
        height: 40vh;
    }
    .cont7 .row .content{
        font-size: 16px;
        margin-bottom: 5vh;
    }
    .cont8{
        padding: 20px 8px;
    }
    .cont8 .section1{
        line-height: 10px;
        font-size: 14px;
    }
    .cont8 .section1 .head{
        font-size: 16px;
    }
    .socialcontainer{
        padding: 5vh 0;
    }
    .social-icons a {
        width: 28px;
        height: 28px;
        font-size: 18px;
        margin-right: 5px;
    }
    .social-icons a .fab, .social-icons a .far{
        line-height: 28px;
    }
}